#header {
	background: #007700; color: white;
	font-size: 16px; padding: 16px;
}

body { margin: 0px; background: #FFFFFF;}
#map { background: #00ff80; border-radius: 5px; float: left; width: 25%; height: 100% }
#content { background: #FFFFFF; border-radius: 5px; float: left; width: 50%; height: 100%; }
#sidebar { background: #20D4E2; border-radius: 5px; float: left; width: 25%; height: 100%}

#img-container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#img-container > img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 120px;
}

/* #desc-container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
} */